@media (max-width: 575px) {
    
    #jbt h1 {
        margin-top: 100px;
    }
    
    #sample-text {
        display: none;
    } 
    
    #resp-main-text {
        
    }
    
    #resp-main-text span {
        display: block;
    }
    
    form[name="mailList"] {
        width: 80%;
        margin: 0 auto !important;
    }
    
    #addon {
        display: none;
    }
    
    #emailAddress {
        width: 440px;
    }
    
    #about-us-container {
        height: 1340px;
    }
    
    #snuggle-logo {
        height: 130px;
        margin-bottom: -50px;
    }
    
    #about-us {
        padding: 1px;
        font-size: 18px;
        
    }
    
    #about-us p {
        margin-top: 15px;
    }
    
     .myHeading {
        font-size: 25px;
    }
    
    #seperator  {
       margin: 10px; 
    }
    
    .sbn-class {
        font-size: 19px;
    } /* remember to use me when refactoring */

    .sbn-class p {
        width: 100% !important;
    }
    
    #following {
        border: none;
    }
    
    .ico {
        text-align: center;
        font-size: 100px;
        color: rgb(253,205,59);
        border-radius: 50%;
        width: 100px;
        margin: 20px 0px;
    }
    
    #our-team-heading {
        font-size: 30px;
    }
    
    .profile-container {
        padding: 0;
        margin-top: 60px;
    }

    #our-team-container {
        height: 670px;
    }
    
    .profile {
        height: 270px;
    }
    
    .avatar {
        width: 180px;
        height: 180px;
    }
    
    .name {
        font-size: 17px;
    }
    
    .niche {
        font-size: 16px;
    }
    
    footer {
        height: 600px;
    }
    #responsive-backdoor {
        padding: 0;
    }
    
    form[name="contactUs"] {
        padding: 0;
        margin-top: 20px;
    }
    
    form[name="contactUs"] label {
        font-size: 15px;
        font-family: sans-serif;
    }
    
    form[name="contactUs"] textarea {
        width: 100%;
    }
    
    form[name="contactUs"] button {
        font-size: 15px;
        font-weight: bold;
        color: rgb(253,205,59);
        border: 1px solid #fc3;
        background-color: rgba(0,0,0,0.1);
    }
    
    form[name="contactUs"] button:hover {
        background-color: rgb(253,205,59);
        color: rgba(0,0,0,0.9);
    }
    
    #extra {
        border: none;
        margin-top: 60px;
        padding: 10px;
        height: 142px;
    }
    
    #extra ul {
        clear: right;
    }
    
    #thumb-logo {
        height: 50px;
        width: 50px;
    }
}


















