#navBar {
    background: rgba(20,20,20,0.4);
    opacity: 0.;
    color: white;
}

#logo {
    color: #fc3;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #fc3;
    padding: -0px 8px;
    box-sizing: border-box;
    font-family: sans-serif;
    border-radius: 5px;
}

#logo-text {
    color: #fc3;
    font-size: 20px;
    position: relative;
    left: -10px;
    bottom: 1px;
    font-family: monospace;
}

.navbar-toggler {
    border: 1px solid #fc3 !important;
}

.navbar-toggler-icon {
    color: #fc3 !important;
}

.nav-link {
    color: white !important;
    margin-right: 7px;
    font-family: monospace;
    font-size: 17px
}

.nav-link i {
    color: #fc3;
}

#jbt {
    border-radius: 0px !important;
    /* margin-top: 56px; */
    height: 700px;
    background-color: none;
    background-image: url("../img/stock/valeriy-khan-172831.jpg") ;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    color: white;
    text-align: center;
    text-shadow: 0.2px 0.1px 1px #fc3;
    margin-bottom: 0px;
}

#jbt h1 {
    margin-top: 200px;
}

form[name="mailList"] {
    margin: 0 auto!important ;
    width: 470px;
}

#addon {
  text-shadow: none;
    color: rgb(10,10,1)
}

#emailAddress {
    height: 40px;
    border: 1px solid white;
    width: 300px;
}

form[name="mailList"] button {
    height: 40px;
    border: 1px solid #fc3 !important;
    background: none;
    color: #fc3;
    font-size: 17px !important;
    font-weight: 500 !important;
    background-color: rgba(255,204,51,0.8);
    color: black;
}

form button:hover {
    cursor: pointer;
    background-color: rgb(255,204,51);
}

#about-us-container {
    height: 750px;
    /* background-color: rgb(42,58,63); */
    background-color: rgba(0,0,0,0.9);
}

.logo-col {
    /* background-color: aliceblue; */
    box-sizing: border-box;
    padding: 40px 0px !important;
}

#snuggle-logo {
    height: 250px;
    background-image: url(../img/WhatsApp%20Image%202017-08-19%20at%2012.19.38%20AM.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    
}

#about-us {
    padding: 46px 60px;
    color: white;
    font-size: 19px;
    text-align: center;
}

.highlighted {
    color: #fc3;
    font-weight: bold;
    font-family: monospace;
}

.myHeading {
    text-align: center;
    color: #f5f5f5;
    
}

#seperator {
    border: 1px solid #f5f5f5 !important;
    margin: 30px;
}

.sbn-class {
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    font-size: 25px;
    color: #f5f5f5;
} /* remember to use me when refactoring */

#following {
    border-right: 2px solid #f5f5f5;
    border-left: 2px solid #f5f5f5;
}

.ico {
    text-align: center;
    font-size: 100px;
    color: #fc3;
    border-radius: 50%;
    width: 100px;
    margin: 40px 80px;
}

#our-team-container {
    height: 400px;
    background-image: url(../img/stock/gilles-lambert-8649.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-container {
    box-sizing: border-box !important;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    padding: 50px;
    color: white;
    text-shadow: 2px 2px black;
}

.profile {
    height: 300px;
    width: 200px;
    margin: 0 auto;
}

#griff {
    background-image: url(../img/stock/avatar.jpg) ;
    background-size: cover;
}

.avatar {
    width: 200px;
    margin: 0 auto;
    height: 200px;
    border-radius: 10px;
}

.name {
    font-family: monospace;
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px
}
#jake {
    background-image: url(../img/jake.png) ;
    background-size: cover;
    background-position: center;
}

#our-team-heading {
    padding-top: 5px;
    margin-bottom: -20px;
    text-shadow: 3px 3px 1px black;
}

/* rgb(253,205,59) 
background-color: rgb(42,58,63) ;
*/
footer {
    height:500px;
    background-color: rgba(0,0,0,0.9);
}

#extra {
    box-sizing: border-box;
    margin-top: 45px;
    padding: 60px;
    color: #f5f5f5;
    text-align: center;
    font-family: helvetica;
    border-left: 2px solid #f4f4f4;
    height: 400px;
}

#thumb-logo {
    display: block;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border-radius: 7px;
    margin-bottom: 5px;
}

#extra ul {
    list-style-type: none;
    display: block;
}

#extra ul li {
    position: relative;
    left: -20px;
    display: inline-block;
    font-size: 27px;
    margin: 5px ;
}

#facebook {
    color: lightblue !important;
}

#github {
    color: antiquewhite;
}

#instagram {
    color: chocolate;
}
#slack {
    color: #fc3 !important;
}


#love-bar {
    height: 50px;
    background-color: rgb(42,58,63) ;
    text-align: center;
    color: white;
    line-height: 50px;
    font-size: 13x;
    font-weight: 500;
    
}

#love-bar i {
    color: red;
}

#love-bar a {
    font-family: cursive;
    color: inherit;
    text-decoration: none;
}

#love-bar a:hover {
    color: rgb(253,205,59);
}

form[name="contactUs"] {
    padding: 50px;
    box-sizing: border-box;
}
form[name="contactUs"] label {
    color: #f5f5f5;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}

form[name="contactUs"] textarea {
    display: block;
    width: 370px;
    border-radius: 5px;
    height: 120px;
    padding: 10px;
    resize: none;
}

#copyright-bs {
    margin-top: -20px;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    
    color: rgb(42,58,63)
}

#copyright-bs span {
    color: #fc3;
}







































































